.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  font-size: 30px;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}




/* ########################################################  */


.aboutStyle{

  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 10mm auto;
  border: 3px #026b7e solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}




/* ####################################################### */
.serviceStyleHomes{

  width: 310mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 10mm auto;
  border: 2px #92e3f1 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
       
.profile_page .col-left20 button{
  background-color: white; 
  color: black; 
  border: 2px solid #5907f0;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin: 10px 0px;
  flex-direction: column;
}

.profile_page .col-left21 button{
  background-color: white; 
  color: black; 
  border: 2px solid #f0ec07;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin: 10px 0px;
  flex-direction: column;
}

.profile_page .col-left21 button:hover {
  background-color: #121312;
  color: white;
}


/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

header{
  width: 100%;
  min-height: 50px;
  background: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5 30px;
}
header a{
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: inline-block;
  padding: 0px 11px;
position: relative;
}

header a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  color: indianred;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
  color: greenyellow;
}

header ul li{
  display: inline-block;
  padding: 10px 20px;
  opacity: 0.7;
}
header ul li:hover{
  opacity: 1;
}

header ul li img{
  width: 30px;
  height: 30px;
  transform: translateY(10px);
  border-radius: 50%;
}

/* --------- Dropdown ---------- */
.drop-nav{
  position: relative;
  padding: 10px 0;
}
.drop-nav a{
  text-transform: capitalize;
  overflow: hidden;
}
.drop-nav .dropdown{
  position: absolute;
  background: #282c34;
  width: 100%;
  width: calc(100% + 30px);
  top: 50px;
  display: none;
}
.drop-nav .dropdown li{
  display: block;
}
.drop-nav:hover .dropdown{
  display: block;
}

.headerName{
  color: goldenrod;
}
